body {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    text-align: left;
    margin-left: 90px;
    margin-top: 50px;
    padding: 35px;
}

a {
    color: darkgray;
}

h1 {
    text-align: left;
}

ul {
   list-style: none;
   padding: 0;
   font-size: smaller;
}
.projects {
  font-size: large;
}
ul li:before {
   content: "> ";
}

.projectTitle h3 {
  text-align: left; /* Change to left align */
}

.projectTitle p {
  text-align: left; /* Change to left align */
  font-size: x-small;
}

.projectContent {
  text-align: left; /* Ensure content text is left aligned */
  font-family: 'Roboto', sans-serif; /* Update to a more standard font */
  margin-top: 10px;
  padding-right: 120px;
  margin-right: 120px;
  font-size: large;
}


// For navigation items
.nav-link {
  color: #000000;
  text-decoration: none;
  margin-right: 10px;
  }

.nav-link-active {
  color: purple;
  text-decoration:underline;
  margin-right: 10px;
}