<!DOCTYPE html>
<html>
	<head>
  <title> &#127827 {{page.title}} &#127827 </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <h1> &#127827  Peng &#127827  </h1>
  <nav>
    <a id="projects" href="/projects"> Projects </a>
    <a id="about-me" href="/about-me"> About Me </a>
    <a id="notes" href="/notes"> Notes </a>
  </nav>
</header>
 <hr>
  <main>
    {{content}}
  </main>
  <hr>
  <footer>
  <p>Contact information: <a href="mailto:peng_pug@example.com">peng_pug@example.com</a>.</p>
</footer>

</body>
</html>
